* {
  font-family:"Times New Roman";
 
 div {
  padding: 100px;
  border: 2px solid gray;
  margin: 100px;
  box-shadow:20px 20px 10px grey;
}
h1, h2,  {
  text-align: center;
}

h3, h4 {
  text-align: left;
}

body {background-color: #fcfcf4;}
