* {
  font-family:"Times New Roman";
}
 
 div {
  padding: 50px;
  border: 1px solid black;
  margin: 100px;
  background-color: #ffebcc;
  box-shadow:20px 20px 10px grey;
}
h1, h2, p {
  text-align: center;
}

h3, h4.small {
  line-height: .01;
}


